.card1, .card2, .card3 {
    border: 2px solid black;
    width: 30%;
    height: fit-content;
    margin: 1rem;
    padding: 1rem;
    background-color: blanchedalmond;
}

.sub {
    float: right;
    margin: -1.1rem -1rem 0 0;
    padding: 1rem;
    background-color: rgb(230, 161, 161);
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    padding: 1rem;
}

@media screen and (max-width: 767.5px) {
    body {
        flex-wrap: wrap;
    }

    .card1, .card2, .card3 {
        width: 100% !important;
    }
}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .card3 {
        width: 100%;
    }

}

@media screen and (min-width: 992px) {
    body {
        flex-wrap: nowrap;
    }

    .card3 {
        width: 30%;
    }
}